/* src/index.css 
AIzaSyAHAhCbt220ccqYCqmycW2VKtamWz0fi1I

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
*/
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
